

.card_info {
  text-align: left;
}

html body {
    background-color: rgba(45,45,45,1.00);

}
.main{
	padding: 5px;
}
.links {
  color: #bbb;
	font-family: Abel;
}

.name {
  text-align: left;
	font-family: Abel;
	color: #bbb;
	text-decoration: underline;
}

.links:hover {
  text-decoration: underline;
}

.picture {
  border-radius: 65px;
	padding:1px;
  border:1px solid #bbb;
}
