html,body{
	width:100%;
	height:100%;
	background:#000000;
}

.card-background {
	background:#222;
}

.center-X-Y {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);	
}

.center-X {
	margin: auto;
	width: 50%;
	border: 3px solid green;
	padding: 10px;
}

.center-Y {
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
